<div class="page">
  <% navbars.each do |navbar| %>
    <%= navbar %>
  <% end %>

  <div class="page-wrapper">
    <% if page_header? %>
      <div class="page-header d-print-none" aria-label="Page header">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <!-- Page pre-title -->
              <div class="page-pretitle"><%= @title %></div>
              <h2 class="page-title"><%= @subtitle %></h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <div class="btn-list">
                <%= secondary_action %>
                <%= primary_action %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= body %>

    <%= content %>
  </div>
</div>
